.burgerMenu-containers{
    position:absolute;
    background-color: rgb(116, 184, 230);
    display: flex;
    flex-direction: column;
    top: 6.6rem;
    right:2rem;
    padding: .5rem;
    text-align: left;
    border-radius: 10px;
    z-index: 1;
}

.closeMenu-home{
    color: black; 
    margin-top:.1rem;
    text-align: right;
    cursor:pointer;
}

.link-container{
    width: 5rem;
    margin-right: 2rem;
    font-weight: bold;
}

@media(max-width: 768px){
  .burgerMenu-containers{
      right:2rem;
      top: 6.6rem;
       
  }
}

@media(max-width: 540px){
  .burgerMenu-containers{
      right:-6rem;
        top: 6.6rem;   
  }
}

@media(max-width: 414px){
  .burgerMenu-containers{
      right:-6rem;
        top: 6.6rem;   
  }

  .closeMenu-home{
    margin-top: .2rem;
  }
}

@media(max-width: 412px){
  .burgerMenu-containers{
      right:-5rem;
        top: 6.6rem;    
  }

  .closeMenu-home{
    padding-top:0rem;
  }
}

 @media(max-width: 393px){
  .burgerMenu-containers{
      right:-5.3rem;
        top: 6.6rem;   
  }

  .closeMenu-home{
    padding-top: 0
  }
}

@media(max-width: 390px){
  .burgerMenu-containers{
      right:-5.5rem;
        top: 6.6rem;    
  }

  .closeMenu-home{
    padding-top: 0rem;
  }
}

@media(max-width: 375px){
    .burgerMenu-containers{
        right:-5rem;
          top: 6.3rem;
         
    }
}

@media(max-width: 360px){
  .burgerMenu-containers{
      right:-5rem;
        top: 6.3rem;
        bottom:29rem;    
  }
  .link-container{
    padding-top:0rem;
  }
}



@media(max-width: 280px){
  .burgerMenu-containers{
      right:-5rem;
      top: 6.3rem;
      height:9rem;     
  }
}



 