.burgerMenu-profile-container{
    position:absolute;
    background-color: rgb(116, 184, 230);
    display: flex;
    flex-direction: column;
    top: 6.6rem;
    /* left:15rem; */
    right:2rem;
    width: 8rem;
    padding-bottom:1rem;
    border-radius: 10px;
    z-index: 10;
}

.closeMenu-profile{
    color: rgb(10, 10, 10); 
    text-align: right;
    margin-top: .7rem;
    padding-right:.5rem;
    font-size: .9rem;
    cursor:pointer;
}

.link-profile-container{
    font-weight: bold;
    margin-left: 1rem;
}

#shoppingHistory-link{
    display: flex;
    flex-wrap: wrap;
    margin-left: .1rem;
    /* font-weight: bold; */
}

@media(max-width: 768px){
  .burgerMenu-profile-container{
    right:2rem;
      top: 6.6rem;
     
}
 }

 @media(max-width: 540px){
  .burgerMenu-profile-container{
    right:-6.5rem;
      top: 6.6rem;    
}

 }

 @media(max-width: 414px){
  .burgerMenu-profile-container{
    right:-5.3rem;
      top: 6.6rem;    
}

 }

 @media(max-width: 412px){
  .burgerMenu-profile-container{
    right:-5.7rem;
      top: 6.6rem;    
}

 }

 @media(max-width: 390px){
  .burgerMenu-profile-container{
    right:-5.3rem;
      top: 6.6rem;    
}

 }

 @media(max-width: 375px){
  .burgerMenu-profile-container{
    right:-5.5rem;
      top: 6.4rem;    
}

 }

 @media(max-width: 360px){
  .burgerMenu-profile-container{
    right:-5.1rem;
      top: 6.4rem;    
}

 }

 @media(max-width: 280px){
  .burgerMenu-profile-container{
    right:-4.5rem;
      top: 6.1rem;    
}

 }

 /* @media(max-width: 412px){
  .burgerMenu-container{
    right: 4.5rem;
    color: white;
  }

  .closeMenu{
    margin-top: .5rem;
  }
 }


 @media(max-width: 414px){
  .burgerMenu-container{
    right:.2rem;
    margin-top: .2rem
  }

  #shoppingHistory-link{
    margin-left:-1rem;
  }

  .closeMenu{
    padding-top:1.3rem;
  }
 }



 @media(max-width: 390px) {
  .burgerMenu-container{
    top: 5.8rem;
    margin-right:.2rem;
  }
 }

 @media(max-width: 360px){
    .burgerMenu-container{
        padding-right: 2rem
    }
    .closeMenu{
        padding-left:5.8rem;
        padding-bottom: -1rem;
    }
   
    .link-container{
       flex-wrap: wrap;
       padding-right: 2rem
    }
    
 }

 @media(max-width: 280px) {
  .burgerMenu-container{
   padding: -1.3rem 0rem 0rem 0rem;
  }

  .link-container{
    margin: -1.3rem 0rem 0rem 0rem;
    padding: 1rem 0rem 0rem 0rem;
  }
  .closeMenu{
    margin-left: 1.4rem;
  }
  }

  @media(max-width: 540px) {
    .burgerMenu-container{
        margin-top: 1rem
    }
  } */