.navbar-signup-container{
    position:relative;
    background-color: rgb(66, 173, 245);
    display: flex;
    flex-direction: row;
    /* align-items:center; */
    justify-content: space-between;
    /* width:116%; */
    margin:1rem;
    border-radius: 10px;
    z-index:1;
}

.navbar-signup-titles{
    color: black;
    margin: 1rem 1rem;
    font-size: 1.3rem;
}

.navbar-auths{
    margin: 0 1rem;
    
}

 @media(max-width: 375px){
    .navbar-signup-container{
        width:118%;
        font-size: .6rem;
       
    }
    .navbar-titles{
        padding:0rem;
        margin: .5rem 0rem .5rem 1rem;
    }

    .navbar-auths{
        font-size: 1rem;
        margin: 1rem 0rem 1rem 0rem
    }
}

 @media(max-width: 414px){
    .navbar-signup-container{
        width:118%;
        margin: 1rem;
    }
    .navbar-titles{
        padding-top:0rem;
       margin-left: 1rem;
        font-size: 1.6rem;
    }

    .navbar-auths{
        margin: 1.7rem 1rem 1.3rem 0rem
    }
} 

@media(max-width: 540px){
    .navbar-signup-container{
        width: 120%;
    }
}

@media(max-width: 280px){
    .navbar-signup-container{
        width: 141%;
    }
}

@media(max-width: 360px) {
    .navbar-container{
        width: 90%;
        margin-left: 1rem;
    }

    .navbar-titles{
        margin-right: 1rem;
    }
}