.navs-container{
    position:relative;
    background-color: rgb(66, 173, 245);
    display: flex;
    align-items:center;
    justify-content: flex-end;
    /* width:100%; */
    z-index:1;
}
.navs-title{
    color: black;
    margin: 1rem 1rem;
    font-size:1.5rem;
}
.navs-auth{
    margin:  1rem; 
}

.signup-link{
    margin-left: .5rem;
}

@media(max-width: 375px){
    .navs-container{
        padding:.1rem;
        width: 124.5%;
        /* font-size:.5rem; */
    }

    .navs-title{
        margin-right:3rem;
        font-size:1.2rem;
    }
}

@media(max-width: 414px){
    .navs-container{
        width: 123%;
    }

    .navs-title{
        margin-right:6rem;
    }
}

@media(max-width: 390px){
    .navs-container{
        width:123.5%;
    }
}