.navbar-shopping-container{
    background-color: rgb(66, 173, 245);
    border-radius: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .navbar-title{
    margin:1rem;
    color:black;
  }
  
  .burger-icons{
    margin:2rem;
    font-size: 1.3rem;
  }
  
  @media(max-width: 768px) {
    .navbar-shopping-container{
      width: 96%;
    }
  
    .navbar-title{
      margin-left: 2rem;
      font-size: 2rem;
    }
  }
  
  @media(max-width: 540px) {
    .navbar-shopping-container{
      margin: 1rem;
      width: 117%;
    }

    @media(max-width:414px) {
        .navbar-shopping-container{
            width:121%
        }
    }
  
  @media(max-width: 412px) {
      .navbar-shopping-container{
        width: 124%
      }
    }

    @media(max-width: 393px) {
        .navbar-shopping-container{
          width: 120%;
        }
      }
  
  @media(max-width: 390px) {
    .navbar-shopping-container{
      width: 120%;
    }
  }

  @media(max-width: 375px) {
    .navbar-shopping-container{
      width: 120%;
    }
  
    .navbar-title{
      font-size: 1.8rem;
    }
  }
  
  @media(max-width: 360px) {
    .navbar-shopping-container{
      width: 117%;
    }
    .navbar-title{
      font-size: 1.8rem;
    }
  }
  
    @media(max-width: 280px) {
      .navbar-shopping-container{
        width: 123%;
      }
      .navbar-title{
        font-size: 1.6rem;
      }
    }
  
    
  }