.signup-containers{
    background-color: azure;
    text-align: center;
    padding: 1rem;
    border-radius: 10px;
    margin: 1rem;
}
.signup-detail{
    font-weight: bold;
}
.signup-input{
    height: 2rem;
    width: 18rem;
}
 ::placeholder {
    padding-left: 1rem;
    font-style: italic;
}

@media(max-width: 375px){
    .signup-container{
        width:117%;
    }
}

@media(max-width: 414px){
    .signup-containers{
        width:110%;
    }
}

@media(max-width: 540px){
    .signup-containers{
        width: 114%
    }
}



@media(max-width:412px){
    .signup-containers{
        width:112%;
    }
}

@media(max-width:280px){
    .signup-containers{
        width:130%;
    }
}