.footer-container{
    background-color: #5A5064;
    padding-top:2rem;
    display: flex;
    justify-content: space-between;
}
.footer-title{
    padding: 3rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 20px;
}
.socials{
    padding-left: 5rem;
}
.footer-end{
    padding-left: 3rem;
    padding-bottom: 1rem;
    font-weight:bold;
}
.footer-end input{
    width: 20rem;
}
.developer-column{
    margin-top: 3rem;
    padding-right: 9rem;
}
.lion-icon{
    font-size:10rem;
}
