.reset{
    /* background-color: azure ; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.reset-email{
    background-color: azure;
    margin: 1rem;
    border-radius: 10px;
    padding: 1rem
}

.resetPassword{
    background-color: azure;
    margin: 1rem;
    border-radius: 10px;
    padding: 1rem;
}